@using AmericaVirtual_DataModel
@using AmericaVirtual_Web.Models

@model List<Weather>

<ul class="weather">
    @foreach (var Weather in (List<Weather>)Model)
    {
        <li class="weather">
            <span class="weather-day weather-day-title t-font-virtual">@Weather.Date.ToString("dddd")</span>
            <span class="weather-img"><img class="mx-auto d-block" id="weather-icon-day" src="@Web_Helper.GetImage(Weather.TypeWeather)" alt="Sol" /></span>
            <span class="weather-day-temperature l-spacing-4">@Weather.Sensation_C.ToString().Replace(",", ".") °C</span>
            <span class="weather-day-temperature l-spacing-4">@Weather.Sensation_F.ToString().Replace(",", ".") °F</span>
        </li>
    }
</ul>
