USE [master]
GO
/****** Object:  Database [AM]    Script Date: 1/3/2021 00:19:44 ******/
CREATE DATABASE [AM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AM', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AM_log', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AM]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 1/3/2021 00:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Date_Add] [datetime] NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 1/3/2021 00:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Country] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Date_Add] [datetime] NOT NULL,
 CONSTRAINT [PK_Province] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services_Log]    Script Date: 1/3/2021 00:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services_Log](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Service] [varchar](50) NOT NULL,
	[Id_User_Add] [int] NOT NULL,
	[Date_Add] [datetime] NOT NULL,
 CONSTRAINT [PK_Services_Log] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/3/2021 00:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[UserType] [int] NOT NULL,
	[Date_Add] [datetime] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Weather]    Script Date: 1/3/2021 00:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Weather](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Country] [int] NOT NULL,
	[Id_Province] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[TypeWeather] [int] NOT NULL,
	[Sensation_C] [decimal](5, 1) NOT NULL,
	[Sensation_F] [decimal](5, 1) NOT NULL,
	[Rainfall] [int] NOT NULL,
	[Humidity] [int] NOT NULL,
	[Wind] [int] NOT NULL,
	[Date_Add] [datetime] NOT NULL,
 CONSTRAINT [PK_Weather] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Countries] ADD  CONSTRAINT [DF_Countries_Date_Add]  DEFAULT (getdate()) FOR [Date_Add]
GO
ALTER TABLE [dbo].[Provinces] ADD  CONSTRAINT [DF_Provinces_Date_Add]  DEFAULT (getdate()) FOR [Date_Add]
GO
ALTER TABLE [dbo].[Services_Log] ADD  CONSTRAINT [DF_Services_Log_Id_User_Add]  DEFAULT ((0)) FOR [Id_User_Add]
GO
ALTER TABLE [dbo].[Services_Log] ADD  CONSTRAINT [DF_Services_Log_Date_Add]  DEFAULT (getdate()) FOR [Date_Add]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_UserType]  DEFAULT ((1)) FOR [UserType]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Date_Add]  DEFAULT (getdate()) FOR [Date_Add]
GO
ALTER TABLE [dbo].[Weather] ADD  CONSTRAINT [DF_Weather_TypeWeather]  DEFAULT ((1)) FOR [TypeWeather]
GO
ALTER TABLE [dbo].[Weather] ADD  CONSTRAINT [DF_Weather_Date_Add]  DEFAULT (getdate()) FOR [Date_Add]
GO
ALTER TABLE [dbo].[Provinces]  WITH CHECK ADD  CONSTRAINT [FK_Province_Province] FOREIGN KEY([Id_Country])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[Provinces] CHECK CONSTRAINT [FK_Province_Province]
GO
ALTER TABLE [dbo].[Weather]  WITH CHECK ADD  CONSTRAINT [FK_Weather_Countries] FOREIGN KEY([Id_Country])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[Weather] CHECK CONSTRAINT [FK_Weather_Countries]
GO
ALTER TABLE [dbo].[Weather]  WITH CHECK ADD  CONSTRAINT [FK_Weather_Provinces] FOREIGN KEY([Id_Province])
REFERENCES [dbo].[Provinces] ([Id])
GO
ALTER TABLE [dbo].[Weather] CHECK CONSTRAINT [FK_Weather_Provinces]
GO
USE [master]
GO
